@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.layout {
  background-color: white ;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.navBar {
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.imgSlider {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.specials {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.news {
  grid-row: 4 / 6;
  grid-column: 1 / 2;
}

.contacts {
  grid-row: 6 / 7; 
  grid-column: 1 / 2;
}

.arrow {
  z-index: 2;
}

.indicators {
  z-index: 2;
}