@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.layout {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.section1 {
  display: grid;
  width: 100vw;
  justify-content: center;

}

.navBar {
  z-index: 1;
  
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
}

.imgSlider {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  object-fit: cover;

  width: 100%;
}

