*{
    margin: 0;
    padding: 0;
}

.itemBoxContainer {
    display: flex;

    width: 100%;
    height: 100%;

    padding: 2vw 4vw 2vw 0vw;

    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    margin: 15px 15px 15px 15px;

    padding: 2vw 2vw 2vw 2vw;
    
    aspect-ratio: 1 / 1;

    max-height: 300px;
    max-width: 300px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.itemImg {
    width: 80%;
    height: 80%;
    object-fit: cover;

}