.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: wheat;
    font-weight: 700;
}

.navBar a {
    position: relative;
    font-size: 18px;
    color: wheat;
    font-weight: 500;
    margin-left: 40px;
}

.navBar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: wheat;
    transition: 0.3s;
}

.navBar a:hover::before {
    width: 100%;
}