* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navBarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logoLink {
    display: flex;
    height: 70px;
    position: relative;
    align-items: center;
    margin-top: 1vw;
}

.linksContainer {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    margin-top: 1vw;
}

.links {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    width: 12vw;
    margin-left: 3rem;
    min-width: 110px;
}

.navBarLink {
    font-size: 1.5vw;
    position: relative;
    color: white;
    font-weight: 500;
    margin-left: 2rem;
    text-decoration: none;
    right: 5%;
}

.navBarLink::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

nav a:hover::before {
    width: 100%;
}

.openSideBarButton, .closeSideBarButton {
   display: none;
}

#sideBarActive {
    display: none;
}


@media (max-width: 600px) {

    .navBarContainer {
        height: 100vh;
        align-items: unset;
        padding: 0;
        margin-top: unset;
    }

    .linksContainer {
        margin-top: unset;
        position: relative;
        transform: translateX(100%);
        flex-direction: column;
        background-color: rgba(194, 133, 75);
        align-items: unset;
        height: 100vh;
        width: 90vw;
        box-shadow: -5px 0 5px rgba(44, 22, 7, 0.25);
        transition: 0.4s ease-out;
        margin-right: unset;
    }

    .links {
        all: unset;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .navBarLink {
        font-size: 4vw;
        box-sizing: border-box;
        height: auto;
        justify-content: flex-start;
        padding: 20px 30px;
    }
    
    .openSideBarButton, .closeSideBarButton {
        display: block;
    }

    .openSideBarButton {
        height: 70px;
        margin-top: 1vw;
        transform: translateX(52vw)
    }

    #sideBarActive:checked ~ .linksContainer {
        transform: translateX(0%)
    }

    #sideBarActive:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .closeSideBarButton {
        padding: 20px;
    }

    .openSideBarButton {
        padding: 2vw;
        margin-top: 3vw;
    }

    .logo {
        margin: 2vw;
    }
}