.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.25rem;
}

.logo {
    width: 10rem;
    position: relative;
}

.navBar a {
    position: relative;
    color: white;
    font-weight: 500;
    margin-left: 2rem;
}

.navBar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.navBar a:hover::before {
    width: 100%;
}