.NewsPanelContainer {
    overflow: hidden;

    display: grid;
    grid-template-rows: 70% 30%;
    height: 100%;
    width: 100%;
    max-width: 420px;

    padding: 2vw;
}

.imgContainer {
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}

.NewsPanelImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.NewsPanelText {
    color: white;
}