.LandscapeNewsPanelContainer {
    object-fit: fill;
    overflow: hidden;

    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.LandscapeNewsPanelImg {

    padding: 10px;

    justify-content: center;
    object-fit: cover;

    height: 300px;
    width: 400px;
    grid-column: 1 / 2;
}

.LandscapeNewsPanelText {

    grid-column: 2 / 3;
    margin-left: 20px;
    margin-right: 300px;
}

.LandscapeNewsPanelHeader {
    text-decoration: underline;

    text-underline-offset: 4px;
}