@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.layout {
  width: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-items: center;
}

.header {
  font-size: 2.25rem;
  z-index: 2;
}

.imageSlider {
  overflow: hidden;
  grid-area: 1 / 1;
}

.img1 {
  grid-area: 1 / 1;
  z-index: 1;
  width: 100%;
}

.arrow {
  z-index: 3;
}

.indicators {
  z-index: 3;
}